<configuration>
	<dllmap dll="flac_codec_native" target="native/flac_codec_native.dll" os="windows" cpu="x86-64" />
	<dllmap dll="flac_codec_native" target="libflac_codec_native.dylib" os="osx" cpu="x86-64" />
	<dllmap dll="flac_codec_native" target="libflac_codec_native.so" os="linux" cpu="x86-64" />
</configuration>
